:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    font-size: 62;
}

body {
    background-color: whitesmoke;
    color: black;
    height: 100%;
    line-height: 1;
}
.sidebar {
    width: 23.2rem;
    width: 100%;
    position: fixed;
    background-color: darkgoldenrod;
    color: white;
    top: 0;
    padding: 2.1rem 1.2rem;
}